footer {
  height: 10vh;
  background: rebeccapurple;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    font-size: 0.8rem;
    font-weight: 100;
  }
}
