.team-section {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  .team-title {
    margin: 1rem;
    font-size: 2.3rem;
  }
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .team-grid-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .team-jobs {
        margin: 1rem;
      }
      .team-desc {
        margin: 1rem;
      }
      .team-img {
        width: 150px;
        height: 220px;
        filter: blur(8px);
        -webkit-filter: blur(8px);
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .team-section {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;

    .team-grid {
      display: flex;
      flex-direction: column;
      .team-grid-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .team-jobs {
          margin: 0.5rem;
        }
        .team-desc {
          margin: 0.5rem;
        }
        .team-img {
          width: 100px;
          height: 120px;
          filter: blur(8px);
          -webkit-filter: blur(8px);
        }
      }
    }
  }
}
